body {
    background-color: cadetblue;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Copse', serif;
    /* padding-top: 20px; */
}

.container {
    /* border: 2px solid black; */
    background-color: lightgray;
}

.aboutrow {
    padding-bottom: 15px;
}

header{
    margin-bottom: 50px;
}

.project {
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid black;
    size: 200px 200px;
}

.project h2 {
    background-color: blue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    margin-top: 5px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.footer .container {
    background-color: #f5f5f5;
}

/* #projectOne {
    background-image: url(assets/code.jpg);
}

#projectTwo {
    background-image: url(assets/moab.jpg);
}

#projectThree {
    background-image: url(assets/computerphone.jpg);
}

#projectFour {
    background-image: url(assets/deer.jpg);
}

#projectFive {
    background-image: url(assets/airpods.jpg);
}

#projectSix {
    background-image: url(assets/nightsky.jpg);
} */

.contactform {
    padding-top: 10px;
    padding-bottom: 20px;
}